@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    --font-sans: 'Space Mono';
}

/* Wider content area for ultrawide screens */
:root {
    --sl-content-width: 75rem;
}